<%- include ('../users/layouts/header.ejs') -%>

 
                
                <div class="row">
                  <h3>Order details</h3>
                  <div class="col-md-4">
                    <img src="/imagess/<%=products[0].image %>" class="img-fluid rounded-start" alt="..." style="max-width: 100%; height: auto">
                  </div>
                  <div class="col-md-8">
                    <div class="card mb-3">
                      <div class="card-body">
                        <h5 class="card-title"></h5>
                        <%console.log(orderData[0],"5") %>
                        <p class="card-text text-truncate">product name: <%=products[0].name %></p>
                        <p class="card-text text-truncate">category: <%=products[0].category %></p>
                        <p class="card-text text-truncate">price: <%=products[0].price  %></p>
                        <p class="card-text text-truncate">order date: <%=new Date(orderData[0].date).toLocaleDateString("en-IN") %></p>
                        <p class="card-text text-truncate">delivery date: <%= new Date(orderData[0].deliveryDate).toLocaleDateString("en-IN") %></p>
                        <p class="card-text text-truncate">status: <%=orderData[0].orderStatus %></p>
                        <p class="card-text"><small class="text-muted"></small></p>
                      </div>
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        
                      </div>
                    </div>
                  </div>
                </div>
                
